<div class="card dashboard">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" />
      </div>
      <app-add-product-modal class="col-md-2 my-1"></app-add-product-modal>
    </div>
    <div class="row" *ngIf="listFilter">
      <div class="col-md-6">
        <h4>Filtered by: {{ listFilter }}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="allProducts && allProducts.length">
        <thead>
          <tr>
            <th>Product</th>
            <th>Available</th>
            <th>Price</th>

            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of allProducts">
            <td>
              <a class="nav-link h5" [routerLink]="['/dashboard', product._id]">
                {{ product.name }}
              </a>
            </td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price | currency: "USD":"symbol":"1.2-2" }}</td>

            <td>
              <button
                (click)="removeProduct(product._id)"
                class="btn btn-danger"
              >
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
