<div class="card dashboard">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <app-add-product-modal></app-add-product-modal>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="allProducts && allProducts.length">
        <thead>
          <tr>
            <th>Product</th>
            <th>Available</th>
            <th>Price</th>

            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of allProducts">
            <td>
              <a>
                {{ product.name }}
              </a>
            </td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price | currency: "USD":"symbol":"1.2-2" }}</td>

            <td>
              <button
                (click)="removeProduct(product._id)"
                class="btn btn-danger"
              >
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
