<div class="wrapper mt-4 cart card">
  <h4
    class="d-flex justify-content-between align-items-center mb-3 bg-warning card-header"
  >
    <span class="text-muted">Your cart</span>
    <span class="badge badge-secondary badge-pill mr-4">
      {{ numberInCart }}
    </span>
  </h4>
  <div class="table-responsive">
    <table class="table" *ngIf="productsInCart && productsInCart.length">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productsInCart">
          <td>
            <a>
              {{ product.name }}
            </a>
          </td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price | currency: "USD":"symbol":"1.2-2" }}</td>

          <td>
            <button (click)="removeProduct(product._id)" class="btn btn-danger">
              X
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr class="mb-4" />
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button
            class="btn btn-md btn-outline-primary"
            [routerLink]="['/dashboard']"
          >
            Continue to checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
