<div class="update-product container">
  <h3 class="font-weight-light">Update product</h3>
  <div class="modal-body">
    <flash-messages></flash-messages>
    <form (submit)="onProductSubmit()">
      <div class="form-row">
        <div class="card-body">
          <dl class="row">
            <dt class="col col-sm-6 col-md-2 mb-4">Name</dt>
            <dd class="col-8">
              <div class="form-group row">
                <div class="col col-sm-12 clo-md-8">
                  <input
                    placeholder="name"
                    class="form-control"
                    type="text"
                    onblur="(this.type='text')"
                    id="name"
                    name="name"
                    [(ngModel)]="name"
                  />
                </div>
              </div>
            </dd>
            <dt class="col col-sm-6 col-md-2 mb-4">Price</dt>
            <dd class="col-8">
              <div class="form-group row">
                <div class="col col-sm-12 clo-md-8">
                  <input
                    placeholder=" price "
                    class="form-control"
                    type="text"
                    onblur="(this.type='text')"
                    id="price"
                    name="price"
                    [(ngModel)]="price"
                  />
                </div>
              </div>
            </dd>
            <dt class="col col-sm-6 col-md-2 mb-4">Quantity</dt>
            <dd class="col-8">
              <div class="form-group row">
                <div class="col col-sm-12 clo-md-8">
                  <input
                    placeholder=" quantity "
                    class="form-control"
                    type="number"
                    onblur="(this.type='text')"
                    id="quantity"
                    name="quantity"
                    [(ngModel)]="quantity"
                  />
                </div>
              </div>
            </dd>
            <dt class="col col-sm-6 col-md-2 mb-4">Category</dt>
            <dd class="col-8">
              <div class="form-group row">
                <div class="col col-sm-12 clo-md-8">
                  <input
                    placeholder=" category "
                    class="form-control"
                    type="text"
                    onblur="(this.type='text')"
                    id="category"
                    name="category"
                    [(ngModel)]="category"
                  />
                </div>
              </div>
            </dd>
            <dt class="col col-sm-6 col-md-2 mb-4">Image Link</dt>
            <dd class="col-8">
              <div class="form-group row">
                <div class="col col-sm-12 clo-md-8">
                  <input
                    placeholder=" image "
                    class="form-control"
                    type="text"
                    onblur="(this.type='text')"
                    id="image"
                    name="image"
                    [(ngModel)]="image"
                  />
                </div>
              </div>
            </dd>
            <dt class="col col-sm-6 col-md-2">Description</dt>
            <dd class="col-10">
              <div class="form-group row">
                <div class="col col-sm-12 clo-md-8">
                  <textarea
                    id="name"
                    name="name"
                    class="form-control"
                    rows="3"
                    [(ngModel)]="description"
                  ></textarea>
                </div>
              </div>
            </dd>
            <input type="submit" class="btn btn-info ml-3" />
          </dl>
        </div>
      </div>
    </form>
  </div>
</div>
