<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Adding Product</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <flash-messages></flash-messages>
    <form (submit)="onProductSubmit()">
      <div class="form-row">
        <div class="card-body">
          <dl class="row">
            <dt class="col col-sm-6 col-md-2 mb-4">Name</dt>
            <dd class="col-8">
              <div class="form-group row">
                <div class="col col-sm-12 clo-md-8">
                  <input
                    placeholder="Name"
                    class="form-control"
                    type="text"
                    onblur="(this.type='text')"
                    id="name"
                    name="name"
                    [(ngModel)]="name"
                  />
                </div>
              </div>
            </dd>
            <dt class="col col-sm-6 col-md-2 mb-4">Price</dt>
            <dd class="col-8">
              <div class="form-group row">
                <div class="col col-sm-12 clo-md-8">
                  <input
                    placeholder="Price"
                    class="form-control"
                    type="text"
                    onblur="(this.type='text')"
                    id="price"
                    name="price"
                    [(ngModel)]="price"
                  />
                </div>
              </div>
            </dd>
            <dt class="col col-sm-6 col-md-2 mb-4">Quantity</dt>
            <dd class="col-8">
              <div class="form-group row">
                <div class="col col-sm-12 clo-md-8">
                  <input
                    placeholder="Quantity"
                    class="form-control"
                    type="number"
                    onblur="(this.type='text')"
                    id="quantity"
                    name="quantity"
                    [(ngModel)]="quantity"
                  />
                </div>
              </div>
            </dd>
            <dt class="col col-sm-6 col-md-2 mb-4">Category</dt>
            <dd class="col-8">
              <div class="form-group row">
                <div class="col col-sm-12 clo-md-8">
                  <input
                    placeholder="Category"
                    class="form-control"
                    type="text"
                    onblur="(this.type='text')"
                    id="category"
                    name="category"
                    [(ngModel)]="category"
                  />
                </div>
              </div>
            </dd>
            <dt class="col col-sm-6 col-md-2 mb-4">Image Link</dt>
            <dd class="col-8">
              <div class="form-group row">
                <div class="col col-sm-12 clo-md-8">
                  <input
                    placeholder="Paste image link"
                    class="form-control"
                    type="text"
                    onblur="(this.type='text')"
                    id="image"
                    name="image"
                    [(ngModel)]="image"
                  />
                </div>
              </div>
            </dd>
            <dt class="col col-sm-6 col-md-2">Description</dt>
            <dd class="col-10">
              <div class="form-group row">
                <div class="col col-sm-12 clo-md-8">
                  <textarea
                    id="name"
                    name="name"
                    class="form-control"
                    rows="3"
                    [(ngModel)]="description"
                  ></textarea>
                </div>
              </div>
            </dd>
            <input type="submit" class="btn btn-info ml-3" />
          </dl>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-md btn-outline-primary" (click)="open(content)">
  Add Product
</button>
