<nav class="nav">
  <h1>Welcome to Agric Auction, a place for fresh produce</h1>
</nav>
<div class="wrapper mt-4">
  <div class="product-article" *ngFor="let product of allProducts">
    <img
      src="{{ product.image }}"
      class="card-img-top"
      data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
      alt="Card image cap"
    />
    <div class="panel">{{ product.name }}</div>
    <div class="product-price">$ {{ product.price }}</div>
    <button class="btn btn-success">Add to cart</button>
  </div>
</div>
