<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-default">
  <a class="navbar-brand" href="#"
    ><span class="h2 mr-4"><span class="text-warning">A</span>A</span
    ><span class="text-warning">Agric</span> Auction</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto mr-auto">
      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" [routerLink]="['/home']"
          >Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        *ngIf="authService.loggedIn()"
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" [routerLink]="['/product-list']"
          >Product List<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        *ngIf="authService.loggedIn()"
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" [routerLink]="['/dashboard']"
          >Dashboard<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        *ngIf="authService.loggedIn()"
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" [routerLink]="['/profile']"
          >Profile<span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" [routerLink]="['/cart']"
          >Cart <i class="fas fa-shopping-cart"></i
        ></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
      <i class="fas fa-search fa-primary"></i>
    </form>
    <ul class="navbar-nav ml-auto mr-auto">
      <i class="fa fa-sign-in fa-lg"></i>
      <li
        *ngIf="!authService.loggedIn()"
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" [routerLink]="['/login']"
          >Login<span class="sr-only">(current)</span></a
        >
      </li>

      <li
        *ngIf="!authService.loggedIn()"
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" [routerLink]="['/register']"
          >Register<span class="sr-only">(current)</span></a
        >
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item">
        <a class="nav-link" (click)="onLogoutClick()" href="#"
          >Logout<span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
